@media screen and (max-width: 800px){

    .contenedor {
        width: 80%;
        height: 1024px;
      }
      .logo {
        position: absolute;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
    }

    .texto{
        width: 100%;
        margin:110px 0 0 0;
    }

    .aclaración{
        margin: 20px auto 0 auto;
    }

    .botones{
        margin: 20px auto 0 10px;
    }

    #copiarBoton {
        top: 320px; 
        left: 4%;
    }

    .resultado {
        width: 100%;
        height: 300px;
        margin: -50px 0 0 0;
        background-size: 50%;
    }
    }
